<section class="prose">
  <h1>
    บทความล่าสุด
    <%= link_to "จาก Dek-D", "https://writer.dek-d.com/Wiweksikkaram/writer/view.php?id=2485901" %>
  </h1>

  <% @posts.each do |post| %>
    <li>
      <div class="flex w-[min(100%,800px)]">
        <div>
          <%= post["number"] %>
          <%= link_to post["title"], "/post/#{post["number"]}" %>
        </div>

        <div class="ml-auto opacity-70 whitespace-nowrap">
          <%= post["date"] %>

          <% begin %>
            (
            <%= DateUtils.thai_date_from_now post["date"] %>
            )
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</section>
